// Header

table(cellpadding='0', cellspacing='0', width='100%', bgcolor='#ffffff', style='margin:0 auto;border-collapse:collapse;')

    tr
        td(colspan='3', height='12', style='font-size:0px; line-height: 0px;')
            img(src='images/header-stripe.png', width='750', height='12', border='0')
            
    tr
        td(width='363', height='97', align='left')
            img(src='images/notification-mailing.png', alt='Почтовая рассылка', border='0')
        td(width='363', height='97', align='right')
            a(href='http://www.odinshag.ru/', target='_blank')
                img(src='images/logo.png', alt='OdinShag.ru', border='0')
        td(width='24', height='97') &nbsp;
        
// Header