doctype html
html
    head
        meta(charset='utf-8')
    body(style='margin:0;padding:0;')
        div(bgcolor='#fafafa', style='background:#fafafa;')
            table(cellpadding='0', cellspacing='0', border='0', width='774', align='center', style='border-collapse:collapse;')
                tr
                    td(colspan='3', height='24', style='font-size:0px; line-height: 0px;') &nbsp;
                tr
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top-left.png);') &nbsp;
                    td(width='750', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top.png);') &nbsp;
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top-right.png);') &nbsp;
                tr
                    td(width='12', style='background-image: url(images/shadow-left.png);') &nbsp;
                    td(width='750')
                    
                        include ../../header/header-notification.jade
                        // include ../../header/header-mailing.jade
                        
                        include ../../content/content-notification.jade
                        // include ../../content/content-mailing.jade
                        
                    td(width='12', style='background-image: url(images/shadow-right.png);')
                tr
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom-left.png);') &nbsp;
                    td(width='750', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom.png);') &nbsp;
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom-right.png);') &nbsp;
                tr
                    td(width='12', height='12', style='font-size:0px; line-height: 0px;') &nbsp;
                    td(width='750')
                    
                        include ../../message/message-notification.jade
                        // include ../../message/message-mailing.jade
                        
                    td(width='12', height='12', style='font-size:0px; line-height: 0px;') &nbsp;
                tr
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top-left.png);') &nbsp;
                    td(width='750', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top.png);') &nbsp;
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-top-right.png);') &nbsp;
                tr
                    td(width='12', style='background-image: url(images/shadow-left.png);') &nbsp;
                    td(width='750')
                    
                        include ../../footer/footer-mailing.jade
                        
                    td(width='12', style='background-image: url(images/shadow-right.png);') &nbsp;
                tr
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom-left.png);') &nbsp;
                    td(width='750', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom.png);') &nbsp;
                    td(width='12', height='12', style='font-size:0px; line-height: 0px; background-image: url(images/shadow-bottom-right.png);') &nbsp;
                tr
                    td(colspan='3', height='24', style='font-size:0px; line-height: 0px;') &nbsp;