// Footer
table(bgcolor='#ffffff', height='93', width='100%', cellpadding='0', cellspacing='0', style='font:12px/14px Arial,Helvetica,sans-serif;color:#8b8b8b;margin:0 auto;')
    tr
        td(colspan='4', height='12', style='font-size: 0px; line-height: 0px;') &nbsp;
    tr
        td(width='12') &nbsp;
        td(colspan='2', height='28', bgcolor='#dee8fc')
            table(cellpadding='0', cellspacing='0', width='100%')
                tr
                    td(width='39', height='28', style='font-size: 0px; line-height: 0px;')
                        img(src='images/attention.png', alt='', border='0', height='28', width='29')
                    td(height='28', style='color: #666666; font-size: 14px; line-height: 10px;')
                        Данное письмо создано автоматически, отвечать на него не нужно
        td(width='12') &nbsp;
    tr
        td(colspan='4', height='6', style='font-size: 0px; line-height: 0px;') &nbsp;
    tr
        td(width='12') &nbsp;
        td(align='left', valign='middle', width='412', height='37')
            table(cellpadding='0', cellspacing='0', width='100%')
                tr
                    td(width='223', height='37', style='font-style:italic; line-height: 14px;')
                        За нашими новостями вы можете следить в социальных сетях:
                    td(width='189', height='37', style='font-size: 0px; line-height: 0px;')
                        a(href='http://vk.com/odinshagru', target='_blank', style='margin-right:3px;')
                            img(src='images/vk.png', alt='Вконтакте', border='0', height='37', width='37')
                        a(href='http://www.facebook.com/odinshagru', target='_blank', style='margin-right:3px;')
                            img(src='images/facebook.png', alt='Facebook', border='0', height='37', width='37')
                        a(href='https://twitter.com/odinshagru', target='_blank', style='margin-right:3px;')
                            img(src='images/twitter.png', alt='Twitter', border='0', height='37', width='37')
                        a(href='http://www.odnoklassniki.ru/group/54423541317663', target='_blank')
                            img(src='images/odnoklassniki.png', alt='Одноклассники', border='0', height='37', width='37')
        td(align='left', valign='middle', height='37', width='314')
            table(bgcolor='#f1eff0', cellpadding='0', cellspacing='0', width='100%')
                tr
                    td(height='2', style='font-size: 0px; line-height: 0px;') &nbsp;
                tr
                    td(width='10') &nbsp;
                    td(align='left', valign='middle', width='29')
                        img(src='images/letter.png', alt='email', border='0', width='29', height='32')
                    td(width='10') &nbsp;
                    td(align='left', valign='middle', style='font-size: 13px;font-style: italic;')
                        Электронная почта для обратной связи:
                        br
                        a(href='mailto:feedback@odinshag.ru', style='display:block;color:#f44242;padding-top:2px') feedback@odinshag.ru
        td(width='12') &nbsp;
    tr
        td(colspan='4', height='12', style='font-size: 0px; line-height: 0px;') &nbsp;
// Footer