// Message
table(cellpadding='0', cellspacing='0', width='100%', style='margin:0 auto;border-collapse:collapse;')
    tr
        td(width='20', height='47') &nbsp;
        td(height='47', valign='middle')
            font(face='arial', size='2', color='#666666')
                i
                    Это сообщение отправлено в автоматическом режиме.
                    Если вы не хотите получать рассыку в дальнейшем - перейдите по 
                    a(href='http://www.odinshag.ru/personal/unsubscribe.php', target='_blank', style='color:#f24942;') ссылке
        td(width='20', height='47') &nbsp;
// Message