// Message
table(cellpadding='0', cellspacing='0', width='100%', style='margin:0 auto;border-collapse:collapse;')
    tr
        td(colspan='3', height='46', style='font-size: 0px; line-height: 0px;')
            a(href='http://www.odinshag.ru/discounts/actions/?utm_campaign=thanksLetter&utm_source=spasibo_mail_akcii_Gatchina&utm_medium=auto_email', target='_blank')
                img(src='images/100-products.png', width='750', height='46', border='0')
// Message