// Content

table(cellpadding='0', cellspacing='0', width='100%', bgcolor='#ffffff', border='0', style='margin:0 auto;border-collapse:collapse; font-size: 15px;')
    
    tr
        td(colspan='3', height='12', style='font-size:0px; line-height: 0px;') &nbsp;
        
    tr
        td(width='12') &nbsp;
        td(width='726')
        
            // Block
            table(cellpadding='0', cellspacing='0', width='100%', bgcolor='#f1f1f1')
                tr
                    td(colspan='3', height='12', style='font-size: 0px; line-height: 0px;') &nbsp;
                tr
                    td(width='12') &nbsp;
                    td(width='702')
                        font(face='Arial')
                            b Уважаемые клиенты!
                            br
                            br
                            Рады сообщить Вам, что в городе Гатчина Ленинградской области открылся пункт выдачи интернет-магазина ОдинШаг.ру. Теперь Вы можете абсолютно бесплатно забрать свой заказ. Адрес нового пункта выдачи - улица Володарского, 13, недалеко от Кафедрального Собора Святого Апостола Павла. 
                            br
                            Обращаем Ваше внимание, что данный пункт выдачи обслуживает только физических лиц. Оплату в гатчинском пункте выдачи можно произвести только за наличный расчет. Режим работы: в будни с 10.00 до 19.00, в выходные дни с 10.00 до 18.00 С полным перечнем оказываемых пунктом выдачи услуг Вы можете ознакомиться на нашем 
                            a(href='http://www.odinshag.ru/pickpoints/ul_volodarskogo_13_dlya_fiz_lits/', target='_blank')сайте.
                            br
                            Ждем Вас!
                    td(width='12') &nbsp;
                tr
                    td(colspan='3', height='12', style='font-size: 0px; line-height: 0px;') &nbsp;
            // Block
            
        td(width='12') &nbsp;
        
    tr
        td(colspan='3', height='12', style='font-size:0px; line-height: 0px;') &nbsp;
    
// Content